@using Microsoft.AspNetCore.Identity
@using Votus.Infrastructure.Identity
@inject UserManager<WebApplicationUser> UserManager
@model IndexViewModel
@{
    ViewData["Title"] = "Home";
    var userDetail = await @UserManager.FindByEmailAsync(User.Identity?.Name);

}

<!-- Container -->
<div id="main-feed" class="container">

    <!-- Content placeholders at page load -->
<div id="shadow-dom" class="view-wrap">
        <div class="columns">

            <div class="column is-3">

                <!-- Placeload element -->
                <div class="placeload weather-widget-placeload">
                    <div class="header">
                        <div class="inner-wrap">
                            <div class="img loads"></div>
                            <div class="content-shape loads"></div>
                            <div class="content-shape loads"></div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="inner-wrap">
                            <div class="rect loads"></div>
                            <div class="content-shape loads"></div>
                            <div class="content-shape loads"></div>
                        </div>
                    </div>
                </div>
                <!-- Placeload element -->
                <div class="placeload list-placeload">
                    <div class="header">
                        <div class="content-shape loads"></div>
                    </div>
                    <div class="body">
                        <div class="flex-block">
                            <div class="img loads"></div>
                            <div class="inner-wrap">
                                <div class="content-shape loads"></div>
                                <div class="content-shape loads"></div>
                            </div>
                        </div>
                        <div class="flex-block">
                            <div class="img loads"></div>
                            <div class="inner-wrap">
                                <div class="content-shape loads"></div>
                                <div class="content-shape loads"></div>
                            </div>
                        </div>
                        <div class="flex-block">
                            <div class="img loads"></div>
                            <div class="inner-wrap">
                                <div class="content-shape loads"></div>
                                <div class="content-shape loads"></div>
                            </div>
                        </div>
                        <div class="flex-block">
                            <div class="img loads"></div>
                            <div class="inner-wrap">
                                <div class="content-shape loads"></div>
                                <div class="content-shape loads"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-6">

                <!-- Placeload element -->
                <div class="placeload compose-placeload">
                    <div class="header">
                        <div class="content-shape is-lg loads"></div>
                        <div class="content-shape is-lg loads"></div>
                        <div class="content-shape is-lg loads"></div>
                    </div>
                    <div class="body">
                        <div class="img loads"></div>
                        <div class="inner-wrap">
                            <div class="content-shape loads"></div>
                            <div class="content-shape loads"></div>
                        </div>
                    </div>
                </div>
                <!-- Placeload element -->
                <div class="placeload post-placeload">
                    <div class="header">
                        <div class="img loads"></div>
                        <div class="header-content">
                            <div class="content-shape loads"></div>
                            <div class="content-shape loads"></div>
                        </div>
                    </div>
                    <div class="image-placeholder loads"></div>
                    <div class="placeholder-footer">
                        <div class="footer-block">
                            <div class="img loads"></div>
                            <div class="inner-wrap">
                                <div class="content-shape loads"></div>
                                <div class="content-shape loads"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Placeload element -->
                <div class="placeload post-placeload">
                    <div class="header">
                        <div class="img loads"></div>
                        <div class="header-content">
                            <div class="content-shape loads"></div>
                            <div class="content-shape loads"></div>
                        </div>
                    </div>
                    <div class="image-placeholder loads"></div>
                    <div class="placeholder-footer">
                        <div class="footer-block">
                            <div class="img loads"></div>
                            <div class="inner-wrap">
                                <div class="content-shape loads"></div>
                                <div class="content-shape loads"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Placeload element -->
                <div class="placeload post-placeload">
                    <div class="header">
                        <div class="img loads"></div>
                        <div class="header-content">
                            <div class="content-shape loads"></div>
                            <div class="content-shape loads"></div>
                        </div>
                    </div>
                    <div class="image-placeholder loads"></div>
                    <div class="placeholder-footer">
                        <div class="footer-block">
                            <div class="img loads"></div>
                            <div class="inner-wrap">
                                <div class="content-shape loads"></div>
                                <div class="content-shape loads"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Placeload element -->
                <div class="placeload post-placeload">
                    <div class="header">
                        <div class="img loads"></div>
                        <div class="header-content">
                            <div class="content-shape loads"></div>
                            <div class="content-shape loads"></div>
                        </div>
                    </div>
                    <div class="image-placeholder loads"></div>
                    <div class="placeholder-footer">
                        <div class="footer-block">
                            <div class="img loads"></div>
                            <div class="inner-wrap">
                                <div class="content-shape loads"></div>
                                <div class="content-shape loads"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-3">

                <!-- Placeload element -->
                <div class="placeload stories-placeload">
                    <div class="header">
                        <div class="content-shape loads"></div>
                    </div>
                    <div class="body">
                        <div class="flex-block">
                            <div class="img loads"></div>
                            <div class="inner-wrap">
                                <div class="content-shape loads"></div>
                                <div class="content-shape loads"></div>
                            </div>
                        </div>
                        <div class="flex-block">
                            <div class="img loads"></div>
                            <div class="inner-wrap">
                                <div class="content-shape loads"></div>
                                <div class="content-shape loads"></div>
                            </div>
                        </div>
                        <div class="flex-block">
                            <div class="img loads"></div>
                            <div class="inner-wrap">
                                <div class="content-shape loads"></div>
                                <div class="content-shape loads"></div>
                            </div>
                        </div>
                        <div class="flex-block">
                            <div class="img loads"></div>
                            <div class="inner-wrap">
                                <div class="content-shape loads"></div>
                                <div class="content-shape loads"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Placeload element -->
                <div class="placeload mini-widget-placeload">
                    <div class="body">
                        <div class="inner-wrap">
                            <div class="img loads"></div>
                            <div class="content-shape loads"></div>
                            <div class="content-shape loads"></div>
                            <div class="content-shape loads"></div>
                            <div class="button-shape loads"></div>
                        </div>
                    </div>
                </div>
                <!-- Placeload element -->
                <div class="placeload list-placeload">
                    <div class="header">
                        <div class="content-shape loads"></div>
                    </div>
                    <div class="body">
                        <div class="flex-block">
                            <div class="img loads"></div>
                            <div class="inner-wrap">
                                <div class="content-shape loads"></div>
                                <div class="content-shape loads"></div>
                            </div>
                        </div>
                        <div class="flex-block">
                            <div class="img loads"></div>
                            <div class="inner-wrap">
                                <div class="content-shape loads"></div>
                                <div class="content-shape loads"></div>
                            </div>
                        </div>
                        <div class="flex-block">
                            <div class="img loads"></div>
                            <div class="inner-wrap">
                                <div class="content-shape loads"></div>
                                <div class="content-shape loads"></div>
                            </div>
                        </div>
                        <div class="flex-block">
                            <div class="img loads"></div>
                            <div class="inner-wrap">
                                <div class="content-shape loads"></div>
                                <div class="content-shape loads"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Last propositions main wrapper -->
    <div id="activity-feed" class="view-wrap true-dom is-hidden">
        <div class="columns">
            <!-- Left side column -->
            <div class="column is-3 is-hidden-mobile">

                <!-- My Propositions widget -->
                <!-- /partials/widgets/recommended-pages-1-widget.html -->
                <div class="card">
                    <div class="card-heading is-bordered">
                        <h4>Últimas Proposições</h4>
                    </div>
                    <div class="card-body no-padding">
                        @foreach (var proposition in Model.Propositions)
                        {
                            <!-- Recommended Page -->
                            <div class="page-block transition-block">
                                <a asp-controller="Proposition">
                                    <div class="page-meta">
                                        <span>@proposition.Question</span>
                                        <span>@proposition.Theme</span>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                </div>

            </div>
            <!-- /Left side column -->
            <!-- Middle column -->
            <div class="column is-6">

                <!-- Publishing Area -->
                <!-- /partials/pages/feed/compose-card.html -->
                <div id="compose-card" class="card is-new-content">
                    <!-- Top tabs -->
                    <div class="tabs-wrapper">
                        <div class="tabs is-boxed is-fullwidth">
                            <ul>
                                <li class="is-active">
                                    <a>
                                        <span class="icon is-small"><i data-feather="edit-3"></i></span>
                                        <span>Publicar</span>
                                    </a>
                                </li>

                                <!-- Close X button -->
                                <li class="close-wrap">
                                    <span class="close-publish">
                                        <i data-feather="x"></i>
                                    </span>
                                </li>
                            </ul>
                        </div>

                        <!-- Tab content -->
                        <div class="tab-content">
                            <form asp-controller="Post" asp-action="Create" method="post">

                                <!-- Compose form -->
                                <div class="compose">
                                    <div class="compose-form">
                                        <img src="@(userDetail.ProfileImageUrl??"/assets/cdn/profile/default_user_icon.png")" alt="">
                                        <div class="control">
                                            <textarea id="publish" class="textarea" rows="3" name="Text" placeholder="Conte-nos as novidades..."></textarea>
                                        </div>
                                    </div>

                                    <div id="feed-upload" class="feed-upload">

                                    </div>

                                    <div id="options-summary" class="options-summary"></div>

                                </div>
                                <!-- /Compose form -->
                                <!-- Footer buttons -->
                                <div class="more-wrap">
                                    <!-- Publish button -->
                                    <button id="publish-button" type="submit" class="button is-solid accent-button is-fullwidth is-disabled">
                                        Publicar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <partial name="_SocialFeedPartial" for="Posts" />

            </div>
            <!-- /Middle column -->
            <!-- Right side column -->
            <div class="column is-3">
                <div class="card is-new-job-card has-background-image" data-background="~/assets/img/illustrations/cards/job-bg.svg">
                    <div class="card-heading">
                        <i data-feather="briefcase"></i>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="job-content">
                                <h4>A proposição <em>"@Model.Propositions.LastOrDefault()?.Question"</em> acaba de ser criada!</h4>
                                <br />
                               
                                <a class="button light-button" asp-controller="Proposition">Ver Proposição</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="card">
                    <div class="card-heading is-bordered">
                        <h4>Meus Votos</h4>
                    </div>
                    <div class="card-body no-padding">-->
                        <!-- Suggested friend -->
                        <!--<div class="add-friend-block transition-block">
                            <img src="https://via.placeholder.com/300x300" data-demo-src="~/assets/img/avatars/nelly.png" data-user-popover="9" alt="">
                            <div class="page-meta">
                                <span>Nelly Schwartz</span>
                                <span>Melbourne</span>
                            </div>
                            <div class="add-friend add-transition">
                                <i data-feather="user-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>-->

            </div>
            <!-- /Right side column -->
        </div>
    </div>
    <!-- /Feed page main wrapper -->
</div>
<!-- /Container -->
